:root {
  --primary-color: #ffb22c;
  --secondary-color: #f7f7f7;
  --button-color: #854836;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins-Regular.ttf") format("truetype"),
    url("./assets/font/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter_18pt-Regular.ttf") format("truetype"),
    url("./assets/font/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #222;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #444;
  margin-bottom: 1rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
